<form action="/products">
  <select name="litres">
    <%= options_for_select({
      '0 - 50' => '0,50',
      '50 - 100' => '50,100',
      '100 - 200' => '100,200',
      '200 - 300' => '200,300'
    }, params[:litres]) %>
  </select>
  <button type="submit">Filtrar</button>
</form>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>kWh</th>
      <th>Clase</th>
      <th>Capacidad (l)</th>
      <th>Descripción</th>
      <th><%= @number_of_years %> years</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.model %></td>
        <td><%= product.kwatts_hour %></td>
        <td class="efficiency_class_<%= product.efficiency_class %>">
          <%= product.efficiency_class %>
        </td>
        <td><%= product.litres %></td>
        <td><%= product.description %></td>
        <td><%= product.calculated_yearly_cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>
