<h2>Calefones</h2>

<form action="/products">
  <select name="litres">
    <%= options_for_select({
      '0 - 50' => '0,50',
      '50 - 100' => '50,100',
      '100 - 200' => '100,200',
      '200 - 300' => '200,300'
    }, params[:litres]) %>
  </select>

  <select name="litres">
    <%= options_for_select(@brands, params[:brand]) %>
  </select>

  <select name="litres">
    <%= options_for_select(@efficiency_classes, params[:efficiency_class]) %>
  </select>

  <select name="litres">
    <%= options_for_select(@number_of_years_list, params[:number_of_years]) %>
  </select>
  <button type="submit">Filtrar</button>
</form>
<% @products.each do |product| %>
  <div class="row product">
    <div class="col-xs-8">
      <div id="breadcrumb">
        <li>
          <a class="title efficiency_class_<%= product.efficiency_class.downcase %>"><%= "#{product.brand} #{product.model}" %></a>
        </li>
      <li></li>
      </div>
    </div>
    <div class="col-xs-4">
      <%= number_to_currency(product.monthly_cost) %> /
      (<%= @number_of_years %>) <%= number_to_currency(product.calculated_yearly_cost) %>
    </div>
  </div>
<% end %>
